@use "../utils" as utils;
.card-volunteer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  padding-block: 32px;

  &__top-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__photo-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 196px;
    width: 196px;

    @include utils.on-tablet {
      height: 250px;
      width: 250px;
    }

    @include utils.on-small-desktop {
      height: 196px;
      width: 196px;
    }

    @include utils.on-desktop {
      height: 250px;
      width: 250px;
    }
  }

  &__photo {
    transition: 0.3s;
    z-index: 2;
    border-radius: 50%;
    width: 56%;
    height: 56%;
  }

  &:hover &__photo {
    transition: 0.3s;
    transform: scale(1.2);
  }

  &__rectangle {
    position: absolute;
    width: 55.6%;
    height: 22.4%;
    background-color: utils.$color-blue;

    &--top {
      transition: all 0.3s;
      transform-origin: left bottom;
      transform: rotate(-60deg);
      top: 40%;
      left: 26%;
    }

    &--bottom {
      transition: all 0.3s;
      transform-origin: right top;
      transform: rotate(-60deg);
      bottom: 40%;
      right: 26%;
    }
  }

  &:hover &__rectangle {
    transition: all 0.3s;
    transform: rotate(-90deg);
  }

  &__text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-top: 24px;
    max-width: 250px;

    @include utils.on-tablet {
      max-width: 362px;
      gap: 16px;
    }
  }

  &__text {
    margin: 0;

    font-family: utils.$fonte-padrao;
    font-size: 12px;
    color: gray;

    @include utils.on-tablet {
      font-size: 16px;
    }
  }

  &__identification {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: utils.$fonte-padrao;
  }

  &__name {
    margin: 0;
  }

  &__ocupation {
    text-align: center;
    margin: 4px 0 0;
    font-family: utils.$fonte-padrao;
    font-size: 13px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 3px;
    color: #c0cdd7;
    text-transform: uppercase;
  }
}
