$cor0: #f2f4f5;
$cor1: #e8ac3e;
$cor2: #c6502a;
$cor3: #c4151e;
$cor4: #0d0b0d;
$color-blue: #2478a2;
$fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
$fonte-destaque: "Bebas Neue", "cursive";
$fonte-boxe: "boxe", cursive;
$transition-page: 0.3s;
